@import url("https://fonts.googleapis.com/css?family=Roboto");

html{
    overflow:hidden;
}

main{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #3d5567;
}

.carousel{
    overflow: hidden;
    width:90rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
}

.inner{
    white-space: nowrap;
    transition:transform 0.3s;
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.05);

}

.Homepage-item{
display: inline-flex;
align-items: center;
justify-content: center;
height: 690px;
background-color: aliceblue;

}

.Hompage-img{
width: 400px;
padding: 0 20px 0 20px;
}

.Homepage-item-text{
    font-size: 1.15rem;
    margin: 40px 0 40px 0;
    padding: 0 20px 0 20px;
    white-space: normal;
    color: #f0617d98;
}

.Homepage-buttons{
    display: flex;
    justify-content: space-evenly;
}

.button-arrow{
    background: none;
    border: none;
    cursor: pointer;
    margin: 20px;
}

.indicators{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.indicator-button{
    border: none;
    cursor: pointer;
}

.indicators > button {
    margin: 5px;
    background: none;
}

.indicator-symbol {
    color: black;
}

.indicator-symbol-active {
    color: aliceblue;
}